= render "application/errors", object: [resource, parent]
= form_for resource, url: params.reject { |k, v| k == :entry }.update( action: resource.persisted? ? :update : :create ),
                     html: { class: "form-horizontal" } do |f|
  .control-group
    = f.label :word, class: "control-label"
    .controls
      = f.text_field :word
  .control-group
    = f.label :notes, class: "control-label"
    .controls
      = f.text_area :notes, rows: 5, class: "input-xxlarge"
  .control-group
    .controls
      = f.submit class: "btn btn-primary"
      = link_to "Back", :back, class: "btn"