.page-header
  %h1= parent.title
  - if parent.is_a? Chapter
    %em= link_to "Back to book", book_path(parent.book)

%table.table.table-striped
  %tbody
    - collection.each do |entry|
      %tr
        %td( style="width: 1%" )
          %nobr
            = link_to parent.is_a?(Dictionary) ? edit_dictionary_entry_path(parent, entry) : edit_book_chapter_entry_path(parent.book, parent, entry) do
              %i.icon-pencil
            - if parent.is_a? Dictionary
              &nbsp;
              = link_to dictionary_entry_path(parent, entry), method: :delete do
                %i.icon-trash
        %td{ title: pluralize(entry.frequency, "time", "times") }
          = link_to_translation entry
          - if entry.variants.present?
            %em.muted
              &mdash;
              = entry.variants.join(", ")
          - if entry.notes.present?
            .muted
              = markdown entry.notes
        - if parent.is_a? Chapter
          - if entry.marked?
            %td= link_to "Remove from learning list", unmark_book_chapter_entry_path(parent.book, parent, entry), method: :put
          - else
            %td= link_to "Add to learning list", mark_book_chapter_entry_path(parent.book, parent, entry), method: :put
          %td= link_to "Add to dictionary", complete_book_chapter_entry_path(parent.book, parent, entry), method: :put
          %td= link_to "Ignore", ignore_book_chapter_entry_path(parent.book, parent, entry), method: :put

- if parent.is_a? Dictionary
  = link_to "Add an entry", new_dictionary_entry_path(parent)

= paginate collection