= form_for resource do |f|
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :lang
    = f.select :lang, options_for_select([["English", :en], ["Deutsch", :de]])
  %div
    = f.submit