= render "application/errors", object: resource
= form_for resource, html: { class: "form-horizontal" } do |f|
  .control-group
    = f.label :title, class: "control-label"
    .controls
      = f.text_field :title, placeholder: "Some descriptive name"
  .control-group
    = f.label :lang, class: "control-label"
    .controls
      = f.select :lang, options_for_select([["English", :en], ["Deutsch", :de]])
  .control-group
    .controls
      = f.submit class: "btn btn-primary"
      = link_to "Back", :back, class: "btn"