= render "application/errors", object: resource
= form_for resource, html: { class: "form-horizontal" } do |f|
  .control-group
    = f.label :author, class: "control-label"
    .controls
      = f.text_field :author
  .control-group
    = f.label :title, class: "control-label"
    .controls
      = f.text_field :title
  .control-group
    = f.label :dictionary, class: "control-label"
    .controls
      = f.select :dictionary, options_from_collection_for_select(current_user.dictionaries, :lang, :title, selected: parent.try(:lang)), include_blank: true

  .control-group
    .controls
      = f.submit class: "btn btn-primary"
      = link_to "Back", :back, class: "btn"