- if collection.empty?
  - if current_user.dictionaries.exists?
    = render "empty_collection"
  - else
    = render "dictionaries/empty_collection"
- else
  .page-header
    %h1= resource_class.name.humanize.pluralize

  %table.table
    %thead
      %tr
        %th= resource_class.human_attribute_name :author
        %th= resource_class.human_attribute_name :title
        %th= resource_class.human_attribute_name :entries
        %th= resource_class.human_attribute_name :progress
    %tbody
      - collection.sort_by(&:created_at).reverse.each do |book|
        %tr
          %td= book.author
          %td= link_to book.title, book_path(book)
          %td
            = book.chapters.sum do |ch|
              - ch.entries.size
          %td
            .progress.bar-success{ style: "margin-bottom: 0", title: format_percentage(book.progress) }
              .bar{ style: "width: #{format_percentage(book.progress)}" }

  = link_to "Create new book", parent ? new_dictionary_book_path(parent) : new_book_path

  = paginate collection