.page-header
  %h1= resource.title
  %em= "by #{resource.author}"
%table.table
  %thead
    %th
    %th= resource_class.human_attribute_name :title
    %th= resource_class.human_attribute_name :words_number
    %th= resource_class.human_attribute_name :progress
  %tbody
    - resource.chapters.each_with_index do |chapter, i|
      %tr
        %td= "#{i + 1}."
        %td= link_to chapter.title, book_chapter_path(resource, chapter)
        %td= chapter.entries.size
        %td
          .progress.bar-success{ style: "margin-bottom: 0" }
            .bar{ style: "width: #{ chapter.progress * 100}%" }

= link_to "Add a chapter", new_book_chapter_path(resource)