.page-header
  %h1 New account

= form_tag "/auth/identity/register", class: "form-horizontal" do |f|
  .control-group
    = label_tag :name, "Name", class: "control-label"
    .controls
      = text_field_tag :name, @identity[:name], placeholder: "Your name"
  .control-group
    = label_tag :email, "Email", class: "control-label"
    .controls
      = text_field_tag :email, @identity[:email], placehoder: "Your e-mail"
      %small.muted will be used as login
  .control-group
    = label_tag :password, "Password", class: "control-label"
    .controls
      .input-append
        = password_field_tag :password, "", placeholder: "Password"
        = link_to "javascript:void(0)", class: "btn", onclick: "togglePasswordField(this)", title: "Click to show/hide password" do
          %i.icon-eye-open
  .control-group
    .controls
      = submit_tag "Register", class: "btn btn-primary"